.pages .section-container__collapsed {
    display: none;
}

.layer-list {
    width: @properties-width;
    // This is to push down the top li in order to see the top outline
    padding-top: 0.1rem;
}

.pages .text-fancy {
    font-style: italic;
    letter-spacing: .2rem;
}
