.color-input {
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.color-input .stroke__preview {
    width: 100%;
    background-color: @highlight;
}

.color-input .type__preview {
    line-height: normal;
}

.color-input .stroke__background {
  //.background-checkerboard();
}

.color-input__swatch__background {
    background-color: @warm-white;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 0.2rem;
    .background-checkerboard();
    overflow: hidden;
}

.color-input__swatch__color {
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    box-sizing:  border-box;
    padding: 0;
    margin: 0;
    justify-content: center;
    overflow: hidden;
}

.color-widget {
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.color-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.color-input__invalid-color .color-input__swatch__color {
    background: rgba(0, 0, 0, 0.0);
}

.color-input__mixed .color-input__swatch__color {
    background: rgba(0, 0, 0, 0.0);
    background: url("../img/pattern-lock-black.svg") repeat;
    background-size: .5rem;
}
