@warm-black: #34332F;
@warm-white: #F7F6EE;
@warm-gray: mix(@warm-white, @warm-black, 80%);
@black: mix(black, @warm-black, 80%);
@highlight: #22BDFC;


@evenLayerBackground: mix(@warm-white, @warm-black, 15%);

@selectedLayerBackground: mix(@warm-white, @warm-black, 90%);

@selectedGroupBackground: mix(@warm-white, @warm-black, 65%);
@selectedGroupLeash: mix(@warm-white, @warm-black, 45%);
@groupLeash: mix(@warm-white, @warm-black, 20%);

@selectedLayerText: @warm-black;
@edit_layer_text: mix(@warm-white, @warm-black,55%);

@selectedLayerDivider: mix(@warm-white, @warm-black, 45%);
@layerDivider: mix(@warm-white, @warm-black, 25%);

.background-transparency(@color, @alpha: 1) {
    background: rgba( red(@color), green(@color), blue(@color), @alpha);
}

.border-transparency(@size, @lineType, @color, @alpha: 1) {
    border: @size @lineType rgba( red(@color), green(@color), blue(@color), @alpha);
}

.background-checkerboard(@size: 0.5) {
    @halfsize: @size / 2;
    // checkerboard
    background-image:
    -moz-linear-gradient(45deg, #000 25%, transparent 25%,transparent 75%, #000 75%, #000 100%),
    -moz-linear-gradient(45deg, #000 25%, transparent 25%,transparent 75%, #000 75%, #000 100%);
    background-image:
    -webkit-linear-gradient(45deg, #000 25%, transparent 25%,transparent 75%, #000 75%, #000 100%),
    -webkit-linear-gradient(45deg, #000 25%, transparent 25%,transparent 75%, #000 75%, #000 100%);
    background-size: ~"@{size}rem" ~"@{size}rem";
    background-position: 0 0, ~"@{halfsize}rem" ~"@{halfsize}rem";
}

//@selectedLayerBackground: mix(@warm-white, @warm-black, 15%);
//@selectedGroupBackground: mix(@warm-white, @warm-black, 5%);
