
/* Basic Colors */
@warm-black: #34332F;
@warm-white: #F7F6EE;
@warm-gray: mix(@warm-white, @warm-black, 70%);
@black: mix(black, @warm-black, 80%);
@highlight: #22BDFC;
@color-checkerboard: fade(@warm-black, 10%);
@color-clear: fade(@warm-white, 0%);

/* Text */
@color-label: mix(@warm-white, @warm-black, 25%);
@color-number-input: @warm-white;
@color-number-input-disabled: @color-label;
@color-section-header: mix(@warm-black, @warm-gray, 10%);

/* Align | Distribute */
@color-section-rule: mix(@warm-black, @warm-gray, 50%);
@color-subsection-rule: mix(@warm-white, @warm-black, 15%);


/* Transform */
@sliderTrackInactive: mix(@warm-white, @warm-black, 40%);


/* Style */
@dropShadowPreview: mix(@warm-white, @warm-black, 85%);

/* Layers */
@evenLayerBackground: mix(@warm-white, @warm-black, 15%);
@selectedLayerBackground: mix(@warm-white, @warm-black, 90%);
@selectedGroupBackground: mix(@warm-white, @warm-black, 65%);
@selectedGroupLeash: mix(@warm-white, @warm-black, 45%);
@groupLeash: mix(@warm-white, @warm-black, 20%);
@selectedLayerText: @warm-black;
@edit_layer_text: mix(@warm-white, @warm-black,55%);
@selectedLayerDivider: mix(@warm-white, @warm-black, 45%);
@layerDivider: @color-section-rule;
@lockedWhite: mix(@warm-white, @warm-black, 40%);
@lockedBlack: mix(@warm-white, @warm-black, 50%);

/* Marquee */
@marquee-highlight: #2d8ceb;

/* General Utilities */

.drop-shadow() {
    -webkit-filter: drop-shadow(0 1px 0 @warm-gray)
}

.color-transparency(@color, @alpha: 1) {
    color: rgba( red(@color), green(@color), blue(@color), @alpha);
}

.background-transparency(@color, @alpha: 1) {
    background: rgba( red(@color), green(@color), blue(@color), @alpha);
}

.border-transparency(@size, @lineType, @color, @alpha: 1) {
    border: @size @lineType rgba( red(@color), green(@color), blue(@color), @alpha);
}

.background-checkerboard(@size: 10) {
    @halfsize: @size / 2;
    // checkerboard
    background-image:
    -webkit-linear-gradient(45deg, @color-checkerboard 25%, transparent 25%,transparent 75%, @color-checkerboard 75%, @color-checkerboard 100%),
    -webkit-linear-gradient(45deg, @color-checkerboard 25%, transparent 25%,transparent 75%, @color-checkerboard 75%, @color-checkerboard 100%);
    background-size: ~"@{size}px" ~"@{size}px";
    background-position: 0 0, ~"@{halfsize}px" ~"@{halfsize}px";
}

.randomColor(){
  @randomColor: `Math.floor(Math.random()*16777215).toString(16)`;
  @colorHex: e(@randomColor);
  @color: ~"#@{colorHex}";
}

//@selectedLayerBackground: mix(@warm-white, @warm-black, 15%);
//@selectedGroupBackground: mix(@warm-white, @warm-black, 5%);
