@dialog-radius: .4rem;
@dialog-padding: 0;
@dialog-margin: 1rem;

dialog {
    z-index: 10000;
    position: absolute;
    font-size: 100%;
    display: flex;
    justify-content: flex-start;
    overflow-y: scroll;
    border: none;
    width: @properties-width - (@dialog-margin*2) - (@dialog-padding*2);
    height: 22rem;
    border-radius: @dialog-radius;
    .background-transparency(@warm-white, 1);
    box-shadow: 0 ( @hairline * 2 ) 0 0 rgba(0,0,0,0.44);
    padding: @dialog-padding;
    margin: @dialog-margin;
}

dialog:not([open]) {
    display: none;
}

dialog::backdrop {
    position: inherit;
    top: inherit;
    right: inherit;
    bottom: inherit;
    left: inherit;
}

.dialog-blendmodes {
    width: 9rem;
    left: 13rem;
}

.dialog-type-typefaces,
.dialog-type-weights {
    width: 18rem;
    left: 8rem;
}

.select {
    width: 100%;
}