@dialog-radius: .4rem;
@dialog-padding: 0;
@dialog-margin: 1rem;

.dialog__center {
    position: fixed;
    margin-left: -((@properties-width+@toolbar-button-size)/2);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@base-width: 114;

@media (-webkit-min-device-pixel-ratio: 1) and (min-device-width: 801px) and (max-device-width: 1440px) and (max-width: (@base-width * 8px)) {
    .dialog__center {
        margin-left: 0;
    }
}

@media (-webkit-min-device-pixel-ratio: 1) and (min-device-width: 1441px) and (max-width: (@base-width * 10px)) {
    .dialog__center {
        margin-left: 0;
    }
}

@media (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 801px) and (max-device-width: 1280px) and (max-width: (@base-width * 8px)) {
    .dialog__center {
        margin-left: 0;
    }
}

@media (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 1281px) and (max-device-width: 1440px) and (max-width: (@base-width * 9px)) {
    .dialog__center {
        margin-left: 0;
    }
}

@media (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 1441px) and (max-device-width: 1680px) and (max-width: (@base-width * 10px)) {
    .dialog__center {
        margin-left: 0;
    }
}

@media (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 1681px) and (max-device-width: 2560px) and (max-width: (@base-width * 11px)) {
    .dialog__center {
        margin-left: 0;
    }
}

@media (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 2561px) and (max-width: (@base-width * 12px)){
    .dialog__center {
        margin-left: 0;
    }
}

dialog {
    left: inherit;
    z-index: 10000;
    position: absolute;
    font-size: 100%;
    display: flex;
    justify-content: flex-start;
    border: none;
    width: @properties-width - (@dialog-margin*2) - (@dialog-padding*2);
    max-height: 25rem;
    height: auto;
    border-radius: @dialog-radius;
    .background-transparency(@warm-white, 1);
    box-shadow: 0 ( @hairline * 2 ) 0 0 rgba(0,0,0,0.44);
    padding: @dialog-padding;
    margin: @dialog-margin;
}

dialog:not([open]) {
    display: none;
}

dialog::backdrop {
    position: inherit;
    top: inherit;
    right: inherit;
    bottom: inherit;
    left: inherit;
}

.dialog-blendmodes {
    width: 9rem;
    right: 4rem;
}

.dialog-stroke-alignment {
    width: 7rem;
    right: 1rem;
    height: auto;
}

.dialog-type-typefaces,
.dialog-type-weights {
    width: 18rem;
    right: 0;
}

.dialog-type-typefaces {
    overflow-y: scroll;
}

.dialog-type-weights {
    overflow-y: scroll;
}

.select {
    width: 100%;
}
