.text-decoration() {
  text-shadow: 1px 1px 0 @warm-black;
}

.label-medium {
//    .text-decoration();
    display: flex;
    justify-content: flex-end;
    color: @color-label;
    user-select: none;
    -webkit-user-select: none;
    font-size: @text-small;
    letter-spacing: .035rem;
}

