.text-decoration() {
  //text-shadow: 1px 1px 0 @warm-black;
}

label {
    .text-decoration();
    letter-spacing: 0;
    display: flex;
    justify-content: flex-end;
    opacity: .35;
    user-select: none;
    -webkit-user-select: none;
}
