.link-list__item {
    margin-bottom: @text-small / 2;
    padding-top: @text-small / 2;
    padding-bottom: @text-small / 2;
    font-size: @text-medium;
}

.link-list__item__right {
    margin-left: 3rem;
    align: right;
    color: @color-label;
}

.link-list__item:hover {
    background-color: @selectedGroupBackground;
    color: @selectedLayerText;
}
