.link-list__list {
	width: 100%;
}

.link-list__item {    
    display: flex;
	justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;        
    border-radius: 0.5rem;
    height: 2.7rem;
    line-height: 2.7rem;
    font-size: @text-medium;
    
    &:hover{
        color: @warm-white;
        background-color: @unselectedLayerHover;
    }

    &.overflow-ellipsis {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
