.link-list__list {
	width: 100%;
}

.link-list__item {
    margin-bottom: @text-small / 2;
    padding-top: @text-small / 2;
    padding-bottom: @text-small / 2;
    font-size: @text-medium;
    display: flex;
	justify-content: space-between;
}

.link-list__item:hover {
    background-color: @selectedGroupBackground;
    color: @selectedLayerText;
}
