::-webkit-scrollbar {
    display: none
}

/* Bar */
.section-container::-webkit-scrollbar {
    background: transparent;
    width: .4rem;
    display: block;
    margin: 0;
    padding: 0;

}

/* Handle */
::-webkit-scrollbar-thumb {
    .background-transparency(@warm-white, 1);
}

::-webkit-scrollbar-thumb:window-inactive {
    .background-transparency(@warm-white, 1);
}


/**
 * These stroke/fill/drop styles are perhaps out of place, 
 * but leaving them here for now because that's where I found them
 */
.stroke-list__stroke {

}
.stroke-list__stroke__disabled {
    color: lightsalmon;
}

.fill-list__fill {

}
.fill-list__fill__disabled {
    color: lightsalmon;
}

.dropShadow-list__dropShadow {

}
.dropShadow-list__dropShadow__disabled {
    color: lightsalmon;
}


/* Track */
::-webkit-scrollbar-track {
    border-radius: none;
    .background-transparency(black, .6);
}
