::-webkit-scrollbar {
    display: none
}

/* Bar */
.section-container::-webkit-scrollbar {
    background: transparent;
    width: .4rem;
    display: block;
    margin: 0;
    padding: 0;

}

/* Handle */
::-webkit-scrollbar-thumb {
    .background-transparency(@warm-white, 1);
}

::-webkit-scrollbar-thumb:window-inactive {
    .background-transparency(@warm-white, 1);
}



.stroke-list__stroke {

}
.stroke-list__stroke__disabled {
    color: lightsalmon;
}


/* Track */
::-webkit-scrollbar-track {
    border-radius: none;
    .background-transparency(black, .6);
}
