.split-button__item__selected {
    opacity: 0.95 !important;
}

.split-button__item__disabled {
    opacity: 0.20 !important;
}

.split-button__item:hover {
    opacity: 1;
}

.split-button__item {
    opacity: 0.55;
}
