header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(45, 45, 43, 85);
    opacity: .66;
    padding: .25rem .8rem;
    line-height: 2.5rem;
    letter-spacing: 0.1667rem;
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
    overflow: hidden;
    flex-shrink: 0;
}

header h2 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}

#header-alignment button {
    border: none;
    width: 1.667rem;
    height: 1.667rem;
    padding: 0;
    margin: .5rem .4rem;
}

#header-alignment {
    align-items: baseline;

}

header.sub-header {
    background: none;
    padding: 0.3333rem 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: baseline;
}

.sub-header h3 {
    text-transform: uppercase;
    opacity: .8;
    font-size: 1.08rem;
}

.sub-header > div {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

#header-layer-name {
    letter-spacing: 0;
    font-size: 1.15em;
    font-weight: 600;
}

#header-layer-name h2 {
    width: 90%;
}

.titleHeader {
    background-color: rgba(45,45,43,0.6);
}

header h2 {
    font-size: 1.08rem;
    letter-spacing: .2rem;
}
