.layer-bounds {
    fill-opacity: 0.0;
    stroke-width: 0;
    stroke: @highlight;
    stroke-opacity: 0.0;
}

.layer-bounds-hover {
    stroke-opacity: 1.5;
}

.selection-bounds {
    stroke-opacity: 0.7;
    fill-opacity: 0.0;
    stroke: @highlight;
}

.selection-parent-bounds {
    stroke-opacity: 0.3;
    stroke-width: 3.0;
    fill-opacity: 0.0;
    stroke: @highlight;
}

.anchor-points {
    fill-opacity: 1.0;
    fill: white;
    stroke: @highlight;
}

.anchor-hover {
    stroke: @highlight;
}

.anchor-dragging {
    fill-opacity: 1.0;
    fill: @highlight;
}

.rotate-areas {
    cursor: alias;
    fill-opacity: 0.0;
    fill: @highlight;
}

.rotate-area-hover {
    fill-opacity: 0.5;
}

.rotation-compass-horizon {
    stroke: @warm-gray;
}

.rotation-compass-circle {
    stroke: @highlight;
    fill-opacity: 0.0;
}

.rotation-compass-arc {
    stroke: @highlight;
    fill: @highlight;
    fill-opacity: 0.5;
}

.rotation-compass-center {
    fill-opacity: 1.0;
    fill: @warm-white;
    stroke: @highlight;
}

.rotation-compass-rotate-line {
    stroke: @highlight;
}
