.layer-bounds {
    fill-opacity: 0.0;
    stroke-width: 0;
    stroke: @highlight;
    stroke-opacity: 0.0;
}

.layer-bounds-hover {
    stroke-width: 1;
    stroke-opacity: 0.5;
}

.layer-bounds-selected {
    stroke-width: 1.5;
    stroke-opacity: 0.7;
}
