.first-launch__dialog {
	background-color: black;
	color:white;
	font-size: 25px;
	line-height: normal;
	width: 800px;
	height:500;
}

.first-launch__dialog::backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8);
}

.first-launch__carousel {
	background-color: black;
	color:white;
	font-size: 25px;
	width: 800px;
	height:400px;
}
