@small-size: 1.4rem;
@medium-size: 1.8rem;



#pagesSection li[data-selected="true"] {

//  background-color: @selectedGroupBackground;
  .background-transparency(@selectedGroupBackground, .4);
}



#pagesSection li[data-selected="true"] > div {
//  border-radius: .5rem .5rem 0 0 ;
  background: @selectedLayerBackground;
}


#pagesSection > input {
  max-height: 2rem;
  min-height: 2rem;
}


// striping has to wait until "groupEnd" items can go away again
//
//
//#pagesSection li:nth-of-type(2n) > div {
//  .background-transparency(@evenLayerBackground, .3);
//}
//
//#pagesSection li[data-selected="true"]:nth-of-type(2n) > div {
//  box-sizing: border-box;
//  border-bottom: @warm-black;
//  border-top: @warm-black;
//}
//
//#pagesSection li[data-selected="true"] ol li:nth-child(2n) > div {
////  .background-transparency(@evenLayerBackground, .3);
//}


#ScrollableLayerList {

  padding-top: 0;


}

#pagesSection li[data-selected="true"] input {
  //  border-radius: .5rem .5rem 0 0 ;
  color: @warm-black;
  margin: .12rem 0;
  width: 2rem;
}

.Page .layer_name {
  flex-grow: 1;
  flex-shrink: 100;
  -webkit-user-select:none;
}

/* explicitly NOT .Page input.layer_name */
.Page div.layer_name {

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

li[data-collapse-override="true"] > div {
  opacity: .25;
}

li[data-collapsed="true"]  > ol {
  height: 0;
  visibility: hidden;
}

li[data-hidden="true"] {
  height: 0;
  visibility: hidden;
}

.Page .layer_name:focus {
  background: @editLayerText;
  -webkit-user-select:text;
  margin: @hairline 0;
  box-sizing: content-box;
}

.Page > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 2.4rem;
}

//li.Page[data-selected="true"] > div >  input[type="text"] {
//  color: @warm-black;
//}


[data-selected="true"] > div >div.layer_name{
  font-weight: 600;
  color: @selectedLayerText;
}

.layer_lock_button[data-locked="true"] {
  color: @warm-black;
}

//
//li.Page > ol {
//  margin-left: 0.8333rem;
//}

.HiddenPage, .HiddenPage * {
  visibility: hidden;
  line-height:0;
}

.Page_placeholder {
  outline: @hairline dashed #A0A0A0;
  background-color: mix(@warm-black, black, 98%);
}

.Page_dragGroup {
  background-color: mix(@warm-black, white, 50%);
}


.smallButton {
  width: @small-size;
  height: @small-size;
  cursor: pointer;
}

.medButton {
  width: @medium-size;
  height: @medium-size;
  cursor: pointer;
}


button[data-visible] {
  .medButton();
}


[data-leash] {
  height: 100%;
  align-tems: stretch;
  border-left: @hairline dashed @warm-white;
  margin-left:  @properties-width/50;
}


[data-selected="true"] [data-leash] {
  border-left: @hairline dashed @selectedGroupLeash;
}

[data-selected="true"] > div > div[data-leash] {
  border-left: @hairline dashed @warm-black;
}

* [data-layer-hidden="true"] {

  opacity: 0.5;

}

* [data-layer-locked="true"] {

// data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2NkQAX/GZH4/4FsRpgAmAOSBBFwDkgAAIKuBATRTAAZAAAAAElFTkSuQmCC


background:url(
  data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2NkQAWbGZH4m4FsX5gAmAOSBAnAOSABAG+uA7he3eYqAAAAAElFTkSuQmCC
  ) repeat;

}

