@properties-width:20rem;
@toolbar-width:3rem;

/* -- MASTER CONTAINER -- */

.canvas-toolbar-properties {
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    display: flex;
    cursor: default;
    overflow: hidden;
}


/* -- PROPERTIES -- */

.properties {
    height: 100%;
    width: @properties-width;
    overflow: hidden;
    position: absolute;
    right: 0;
    min-height: 100%;
    .background-transparency(@warm-gray, .8);
    flex-direction: column;
    justify-content: flex-start;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
}

#header-alignment {
    display: flex;
    justify-content: center;
}


.formline {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 4px; //breakpoint
    padding-bottom: 4px; //breakpoint
}

.transform,
.style,
.pages {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.section-container {
    overflow-x: hidden;
    overflow-y: auto;
    flex-grow: 1;
    background-color: rgba(45,45,43,0.94);
}

.transform {
    flex-grow: 0;
    flex-shrink: 0;
}

.pages {
    flex-grow: 100;
    bottom: 0;
}

.c-1-25 {
    flex-shrink: 0;
}

.generate-columns(25);

.generate-columns(@n, @i: 1) when (@i =< @n) {
    .c-@{i}-@{n} {
        width: (@i * (@properties-width / @n) );
        flex-shrink: 0;
    }
    .generate-columns(@n, (@i + 1));
}

.c-half-25 {
    width: @properties-width/50;
}
