.style {
  min-height: 3rem;
  flex-grow: 0;
  flex-shrink: 0;
}

.style .section-container {
  flex-basis: 32rem;
}

.style .section-container__collapsed {
  display: none;
}

.style.section.section__sibling-collapsed {
  flex-grow: 999999;
}