.header-alignment {
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: @hairline solid @color-subsection-rule;
  width: 100%;
  height: 5rem;
}

.button-align-distribute {
    box-sizing: border-box;
    border: none;
    width: 2rem;
    height: 2rem;
    opacity: 0.65;
}
