.header-alignment {
  align-items: baseline;
  display: flex;
  justify-content: space-around;
  height: 2rem;
  padding: .5rem 0;
}

.align-distribute-button {
    box-sizing: border-box;
    border: none;
    width: 1.667rem;
    height: 1.667rem
}
